# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment variables & secrets
.env
*.db
*.sqlite3

# Logs & testing
*.log
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
